PORT=5000
NODE_ENV=development
APP_ENV=local

# Database Dialect: postgres or oracle
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=codereview
DB_USER=postgres
DB_PASSWORD=postgres

# Oracle Fallback (if using Oracle XE / RDS Oracle)
ORACLE_USER=PLATFORM
ORACLE_PASSWORD=Project
ORACLE_CONNECT_STRING=localhost:1522/XEPDB1

# MongoDB Telemetry (Optional / Graceful)
MONGO_URI=mongodb://localhost:27017/code_review_logs

# Security & JWT
JWT_SECRET=b282db152b22f235594d6ba42d0b32b885f5850df26d7331410c483f7894fa20172db272fcf91c79234d0c61bb7da3d5cea3e57ac41c9c420736a3fafa485033
ADMIN_API_KEY=admin-fault-injection-secret-key

# Fault Injection Master Switch
FAULT_INJECTION_ENABLED=true
